<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
    	<center>
	      <h1 class="title">
			bienvenido a mi App      
		  </h1>
		  <br>
		  	<%= link_to "Explorar", projects_path, class: "button is-light" %>
		  	<%= link_to "Publica tu proyecto", new_project_path, class: "button is-light" %>
	  	</center>
    </div>
  </div>
</section>

